.sldr-vyb-cont .swiper {
    width: 100%;
    height: 100%;
    padding: 60px 15px 20px 15px;
    background-color: ;
  }

.sldr-vyb-cont .swiper-slide {
    margin:0 0 0 0;
    padding: 0;
    height: auto;
    background: ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .sldr-vyb-cont .swiper-slide .box1-titles{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .sldr-vyb-cont .swiper-slide .box1-titles img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .sldr-vyb-cont .swiper-slide .box2-titles{
    width: 100%;
    height: auto;
    padding: 16px;
    margin: 0;
  }

  .sldr-vyb-cont .swiper-slide .box1-titles .box-ico{
    margin: 0 16px 0 0;
  }

  .icons-vyb{
    font-size: 30px;
    color: var(--color-pink-farmasi);
  }

  .box2-titles .txt-vtjs{
    font-size: 20px;
    font-weight: 700;
    color: var(--color-pink-farmasi);
    line-height: 1.2;
  }

  .box2-titles .txt-info-v{
    font-size: 18px;
    font-weight: 500;
    color: black;
    line-height: 1.2;
  }

  .box2-titles .txt-info-v2{
    font-size: 17px;
    font-weight: 300;
    color: black;
    line-height: 1.2;
  }

  /*
 .sldr-vyb-cont .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    */

  
  .sldr-vyb-cont .swiper .swiper-button-prevvv {
    position: absolute;
    top: 5%;
    left: 92%;
    width: 40px;
    height: 40px;
    background-color: #f7f7f7b5;
    color: var(--color-pink-farmasi);
    border-radius: 50%;
    border: 1px solid var(--color-pink-farmasi);
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 20px; 
    transform: translateY(-50%);

}


.sldr-vyb-cont .swiper .swiper-button-nexttt {
    position: absolute;
    top: 5%;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #f7f7f7b5;
    color: var(--color-pink-farmasi);
    border-radius: 50%;
    border: 1px solid var(--color-pink-farmasi);
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 20px;   
    transform: translateY(-50%);
  }

  .sldr-vyb-cont .swiper .swiper-button-prevvv.swiper-button-disabled{
  background-color: rgba(233, 233, 233, 0.71);     /* Fondo más claro cuando la flecha está inactiva */
  color: #ffcaca;     
  border: 1px solid #ffcaca;           /* Color de texto más tenue */
  cursor: not-allowed;        /* Cambia el cursor para indicar que está deshabilitada */
}

.sldr-vyb-cont .swiper .swiper-button-nexttt.swiper-button-disabled{
  background-color: rgba(233, 233, 233, 0.71);     /* Fondo más claro cuando la flecha está inactiva */
  color: #ffcaca;     
  border: 1px solid #ffcaca;        /* Color de texto más tenue */
    cursor: not-allowed;        /* Cambia el cursor para indicar que está deshabilitada */
  }


  /* estilos de testimonios */
  .sldr-test-cont .swiper {
    width: 100%;
    height: 100%;
    padding: 60px 15px 20px 15px;
    background-color: ;
  }

.sldr-test-cont .swiper-slide {
    padding: 16px;
    height: auto;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);

  }

  .sldr-test-cont .swiper-slide .box1-titles{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sldr-test-cont .swiper-slide .box1-titles img{
    width: 30%;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    object-fit: cover;
  }

  .sldr-test-cont .swiper-slide .box1-titles .txt-autor{
    font-size: 14px;
    font-weight: 300;
    color: black;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 16px 0;
  }

  .sldr-test-cont .swiper-slide .box2-info .txt-com{
    font-size: 17px;
    font-weight: 300;
    color: black;
    line-height: 1.2;
  }

  .sldr-test-cont .swiper-slide .box1-titles .txt-autor strong{
    font-size: 16px;
  }

  .sldr-test-cont .swiper-slide .box1-titles .box-ico{
    margin: 0 16px 0 0;
  }

  .icons-vyb{
    font-size: 30px;
    color: var(--color-pink-farmasi);
  }

  .txt-vtjs{
    font-size: 18px;
    font-weight: 600;
    color: black;
    line-height: 1.2;
  }

  .txt-info-v{
    font-size: 16px;
    font-weight: 500;
    color: black;
    line-height: 1.2;
  }

  .txt-info-v2{
    font-size: 17px;
    font-weight: 300;
    color: black;
    line-height: 1.2;
  }

 .sldr-test-cont .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
  .sldr-test-cont .swiper .swiper-button-prevvv {
    position: absolute;
    top: 7%;
    left: 92%;
    width: 40px;
    height: 40px;
    background-color: #f7f7f7b5;
    color: var(--color-pink-farmasi);
    border-radius: 50%;
    border: 1px solid var(--color-pink-farmasi);
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 20px; 
    transform: translateY(-50%);
}


.sldr-test-cont .swiper .swiper-button-nexttt {
    position: absolute;
    top: 7%;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #f7f7f7b5;
    color: var(--color-pink-farmasi);
    border-radius: 50%;
    border: 1px solid var(--color-pink-farmasi);
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 20px;   
    transform: translateY(-50%);
  }

  .sldr-test-cont .swiper .swiper-button-prevvv.swiper-button-disabled{
  background-color: rgba(233, 233, 233, 0.71);     /* Fondo más claro cuando la flecha está inactiva */
  color: #ffcaca;     
  border: 1px solid #ffcaca;           /* Color de texto más tenue */
  cursor: not-allowed;        /* Cambia el cursor para indicar que está deshabilitada */
}

.sldr-test-cont .swiper .swiper-button-nexttt.swiper-button-disabled{
  background-color: rgba(233, 233, 233, 0.71);     /* Fondo más claro cuando la flecha está inactiva */
  color: #ffcaca;     
  border: 1px solid #ffcaca;        /* Color de texto más tenue */
    cursor: not-allowed;        /* Cambia el cursor para indicar que está deshabilitada */
  }

   /* estilos de testimonios 2*/
   .sldr-test-cont2 .swiper {
    width: 100%;
    height: 100%;
    padding: 50px 10px 20px 10px;
    background-color: ;
  
  }

.sldr-test-cont2 .swiper-slide {
  width: auto;
    height: auto;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .sldr-test-cont2 .swiper-slide .box-testt{
    width: 100%;
    height: auto;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
    background-color: ;

  }

  .sldr-test-cont2 .swiper-slide .box-testt:nth-child(2){
    margin: 16px 0;
  }

  .sldr-test-cont2 .swiper-slide .box-testt .box-names{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sldr-test-cont2 .swiper-slide .box-testt .box-names img{
    width: 30%;
    border-radius: 50%;
    padding: 0;
    margin: 0 0 10px 0;
    object-fit: cover;
  }

  .sldr-test-cont2 .swiper-slide .box-testt .box-names .txt-autor{
    font-size: 17px;
    font-weight: 300;
    color: black;
    line-height: 1.2;
    margin: 0 0 10px 0;
    text-align: center;
  }

  .sldr-test-cont2 .swiper-slide .box1-titles .txt-autor strong{
    font-size: 16px;
  }

  .sldr-test-cont2 .swiper-slide .box-testt .box-opi{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
  
/*
  .sldr-test-cont2 .swiper-slide .box-testt{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
*/


  .sldr-test-cont2 .swiper-slide .box-testt .box-opi{
    font-size: 17px;
    font-weight: 300;
    color: black;
    line-height: 1.2;
  }


  
  .sldr-test-cont2 .swiper .swiper-button-prevvv {
    position: absolute;
    top: 2%;
    left: 75%;
    width: 40px;
    height: 40px;
    background-color: #f7f7f7b5;
    color: var(--color-pink-farmasi);
    border-radius: 50%;
    border: 1px solid var(--color-pink-farmasi);
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 20px; 
    transform: translateY(-50%);
}


.sldr-test-cont2 .swiper .swiper-button-nexttt {
    position: absolute;
    top: 2%;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #f7f7f7b5;
    color: var(--color-pink-farmasi);
    border-radius: 50%;
    border: 1px solid var(--color-pink-farmasi);
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 20px;   
    transform: translateY(-50%);
  }

  .sldr-test-cont2 .swiper .swiper-button-prevvv.swiper-button-disabled{
  background-color: rgba(233, 233, 233, 0.71);     /* Fondo más claro cuando la flecha está inactiva */
  color: #ffcaca;     
  border: 1px solid #ffcaca;           /* Color de texto más tenue */
  cursor: not-allowed;        /* Cambia el cursor para indicar que está deshabilitada */
}

.sldr-test-cont2 .swiper .swiper-button-nexttt.swiper-button-disabled{
  background-color: rgba(233, 233, 233, 0.71);     /* Fondo más claro cuando la flecha está inactiva */
  color: #ffcaca;     
  border: 1px solid #ffcaca;        /* Color de texto más tenue */
    cursor: not-allowed;        /* Cambia el cursor para indicar que está deshabilitada */
  }



  @media(max-width: 500px) {

    .sldr-vyb-cont .swiper {
      width: 100%;
      height: 100%;
      padding: 60px 10px 20px 10px;
      background-color: ;
    }

    .sldr-vyb-cont .swiper .swiper-button-prevvv {
      position: absolute;
      top: 5%;
      left: 75%;
    
  }

  .sldr-vyb-cont .swiper .swiper-button-nexttt {
    position: absolute;
    top: 5%;
    right: 0;
  
}

.sldr-test-cont .swiper {
  width: 100%;
  height: 100%;
  padding: 50px 10px 20px 10px;
  background-color: ;
}

.sldr-test-cont .swiper .swiper-button-prevvv {
  position: absolute;
  top: 6%;
  left: 75%;
 
}

.sldr-test-cont .swiper .swiper-button-nexttt {
  position: absolute;
  top: 6%;
  right: 0;
 
}
  }


  @media(min-width: 501px) and (max-width: 700px){
    .sldr-vyb-cont .swiper {
      width: 100%;
      height: 100%;
      padding: 60px 10px 20px 10px;
      background-color: ;
    }

    .sldr-vyb-cont .swiper .swiper-button-prevvv {
      position: absolute;
      top: 5%;
      left: 82%;
    
  }

  .sldr-vyb-cont .swiper .swiper-button-nexttt {
    position: absolute;
    top: 5%;
    right: 0;
  
}

.sldr-test-cont .swiper {
  width: 100%;
  height: 100%;
  padding: 50px 0 20px 0;
  background-color: ;
}

.sldr-test-cont .swiper .swiper-button-prevvv {
  position: absolute;
  top: 6%;
  left: 82%;
 
}

.sldr-test-cont .swiper .swiper-button-nexttt {
  position: absolute;
  top: 6%;
  right: 0;
 
}
  }


  @media(min-width: 701px) and (max-width: 900px){

    .sldr-vyb-cont .swiper .swiper-button-prevvv {
      position: absolute;
      top: 5%;
      left: 88%;
    
  }

  .sldr-vyb-cont .swiper .swiper-button-nexttt {
    position: absolute;
    top: 5%;
    right: 0;
  
}

.sldr-test-cont .swiper .swiper-button-prevvv {
  position: absolute;
  top: 6%;
  left: 88%;
 
}

.sldr-test-cont .swiper .swiper-button-nexttt {
  position: absolute;
  top: 6%;
  right: 0;
 
}
  }


  @media(min-width: 901px) and (max-width: 1200px){

    .sldr-vyb-cont .swiper .swiper-button-prevvv {
      position: absolute;
      top: 5%;
      left: 90%;
    
  }

  .sldr-vyb-cont .swiper .swiper-button-nexttt {
    position: absolute;
    top: 5%;
    right: 0;
  
}

.sldr-test-cont .swiper .swiper-button-prevvv {
  position: absolute;
  top: 6%;
  left: 90%;
 
}

.sldr-test-cont .swiper .swiper-button-nexttt {
  position: absolute;
  top: 6%;
  right: 0;
 
}
  }

